<!DOCTYPE html>
<html ng-app="lionrock">
<head>
	<title>{{appName}}</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
	<style>
	div{
		padding-bottom: 5px;
	}
	</style>
</head>
<body>

	<!-- navigator ctrl -->
	<!-- all login stuff are in navigator -->

	<!-- alert ctrl -->
<!-- 	<div>
		<alert type="success">Successfully added</alert>
	</div> -->

	<!-- newTrail board-->
	<form>
		<div class="container" ng-show="true" ng-controller="newTrailCtrl">
			<div class="row">
				<div style='height:200px; background-color:#000; margin-bottom:10px' class='col-sm-12 col-xs-12'>Click here to add cover picture</div>
				<div class="col-sm-3 col-xs-12"><label>Publisher</label></div>
				<div class="col-sm-9 col-xs-12"><input class="form-control" ng-model="trailInfo.publisher" /></div>
				<div class="col-sm-3 col-xs-12"><label>Trail name</label></div>
				<div class="col-sm-9 col-xs-12"><input class="form-control" ng-model="trailInfo.name" /></div>
				<div class="col-sm-3 col-xs-12"><label>Category</label></div>
				<div class="col-sm-9 col-xs-12">
					<select class="form-control" ng-model="trailInfo.category">
						<option>香港</option>
						<option>九龍</option>
						<option>新界</option>
						<option>離島</option>
					</select>
				</div>
				<div class="col-sm-3 col-xs-12"><label>Cover photo</label></div>
				<div class="col-sm-9 col-xs-12"><input class="form-control" ng-model="trailInfo.coverImg" /></div>
			</div>
			<hr />
			<div class="row">
				<div class="col-sm-3 col-xs-12"><label>Map</label></div>
				<div class="col-sm-9 col-xs-12"><input class="form-control" ng-model="trailInfo.map" /></div>
				<div class="col-sm-3 col-xs-12"><label>Transport to</label></div>
				<div class="col-sm-9 col-xs-12"><input class="form-control" ng-model="trailInfo.transportTo" /></div>
				<div class="col-sm-3 col-xs-12"><label>Transport from</label></div>
				<div class="col-sm-9 col-xs-12"><input class="form-control" ng-model="trailInfo.transportFrom" /></div>
								<div class="col-sm-3 col-xs-12"><label>Time spent</label></div>
				<div class="col-sm-9 col-xs-12"><input class="form-control" ng-model="trailInfo.timeSpent" /></div>
								<div class="col-sm-3 col-xs-12"><label>Distance</label></div>
				<div class="col-sm-9 col-xs-12"><input class="form-control" ng-model="trailInfo.distance" /></div>
				<div class="col-sm-3 col-xs-12"><label>Difficulty</label></div>
				<div class="col-sm-9 col-xs-12"><rating ng-model="trailInfo.difficulty" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating></div>
			</div>
			<hr/>
			<div class="row">
				<div class="col-sm-12 col-xs-12"><label>Checkpoints</label></div>
				<div class="col-sm-4 col-xs-12" ng-repeat='step in trailInfo.steps'>
					<img src='http://www.discoverhongkong.com/eng/images/see-do/great-outdoors/large/1.5.3.2-Dragons-Back-Hiking-Tour_03.jpg' class='img-rounded img-responsive' />
					<div><button class="btn btn-warning form-control" ng-click='remove($index)'>Remove checkpoint {{$index + 1}}</button><textarea placeholder='description' row="4" class="form-control" ng-model="step.description"></textarea></div>
				</div>

				<div style='text-align:right' class="col-sm-12 col-xs-12"><button type="submit" class="btn btn-success" ng-click="trailInfo.steps.push({img: '' , description: ''})">Add</button></div>

			</div>
			<hr />
			<div class="row">
				<div class="col-sm-12 col-xs-12"><button type="submit" class="btn btn-primary form-control" ng-click='send()'>Create trail</button></div>
			</div>

		</div>
	</form>

	<!-- end newTrail board-->
	<hr/>

	<script src="angular.min.js"></script>
	<script src="ui-bootstrap-tpls-0.11.0.min.js"></script>
	<script src="app.js"></script>
</body>
</html>